/* Hero Slideshow Styling */
.hero-slideshow {
  position: relative;
  height: 60vh; /* Adjust as needed */
  overflow: hidden;
}

.slideshow-image {
  height: 60vh; /* Match hero section height */
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 20%;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.slideshow-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.slideshow-subtitle {
  font-size: 1.5rem;
  color: #dddddd;
}


/* Benefits Section Styling */
.benefits-section {
  background: linear-gradient(to bottom, #f8f9fa, #ffffff);
  padding: 50px 0;
}

.dark-benefits {
  background: #181818a5;
  color: #ffffff;;
}

.benefit-card {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.benefit-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.benefit-title {
  font-size: 1.8rem;
  color: #007bff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.benefit-description {
  font-size: 1.2rem;
  color: #333333;
  text-align: center;
  line-height: 1.6;
}

/* Apply Button Styling */
.apply-button {
  font-size: 1.5rem;
  font-weight: 900;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.apply-button:hover {
  transform: scale(1.05);
  background-color: #007bff;
  color: #ffffff;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .slideshow-title {
    font-size: 2.5rem;
  }

  .slideshow-subtitle {
    font-size: 1.2rem;
  }

  .hero-slideshow {
    height: 50vh;
  }

  .benefit-title {
    font-size: 1.5rem;
  }

  .benefit-description {
    font-size: 1rem;
  }
}
